{% extends "base.html" %}

{% from "_render_field.html" import render_field %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="text-center mb-4">Вхід</h2>
        <div class="card p-4 shadow-sm">
            
            <form method="POST" novalidate>
                
                {{ form.hidden_tag() }}
                
                {{ render_field(form.username, placeholder="Введіть логін") }}
                {{ render_field(form.password, placeholder="Введіть пароль") }}
                
                <div class="mb-3 form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
                
                {{ form.submit(class="btn btn-primary w-100") }}
            </form>
        </div>
        <p class="text-center mt-3 text-muted">Підказка: admin / 12345</p>
    </div>
</div>
{% endblock %}