{% extends 'base.html' %}

{% block title %} Edit Post {% endblock %}

{% block content %}
<h2>Edit Post</h2>

<form method="POST" action="{{ url_for('posts.edit_post', post_id=post.id) }}">
    {{ form.hidden_tag() }}
    {% from 'form_macros.html' import render_field %}

    <!-- Поля форми для заголовка та контенту -->
    {{ render_field(form.title) }}
    {{ render_field(form.content) }}

    <!-- Поля для вибору дати публікації та категорії -->
    <div class="form-group">
        <label for="{{ form.publish_date.id }}">{{ form.publish_date.label.text }}</label>
        <input type="datetime-local" id="{{ form.publish_date.id }}" name="{{ form.publish_date.name }}"
               class="form-control"
               value="{{ form.publish_date.data.strftime('%Y-%m-%dT%H:%M') if form.publish_date.data else '' }}">
    </div>
    
    {{ render_field(form.category) }}

    <!-- Поле для вибору автора -->
    {{ render_field(form.author) }}

    <!-- Поле для активації поста -->
    <div class="form-group form-check">
        {{ form.is_active(class="form-check-input") }}
        {{ form.is_active.label(class="form-check-label") }}
    </div>

    <!-- Кнопка для підтвердження -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Post</button>
    </div>
</form>

{% endblock %}
